.popup__container_alert{
    min-width: 430px;
    min-height: 330px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


@media screen and (min-width:320px) and (max-width:767px){
    .popup__container_alert{
        min-width: 240px;
        margin: auto;
    }
}