@import url(./_password/auth__input_password.css);
@import url(./_password/auth__input_password.css);

.auth__input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    padding: 0;
    color:#ccc;
    background-color: #000;
}